dist-newstyle/
dist/
.cabal-sandbox/
cabal.sandbox.config
*.o
*.hi
*.dyn_o
*.dyn_hi
*.chi
*.chs.h
.ghc.environment.*
.HTF/
.hpc
.hsenv
cabal.project.local
cabal.project.local~
.stack-work/
stack.yaml.lock
*~
\#*
.\#*
result
